<launch>
        <arg name="model" />
        <!-- Loading model files -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find 1557)/urdf/1557.xacro'" />
        <!-- Launch  the joint state publisher -->
        <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ></node>
        <!-- Launch  the robot state publisher -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <!-- Loading rviz files -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find 1557)/rviz/display.rviz" />
</launch>
